<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="life.gan.blogan.dao.UserMapper">
  <resultMap id="userResultMap" type="life.gan.blogan.entity.User">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="password" column="password"/>
    <result property="email" column="email"/>
    <result property="bio" column="bio"/>
    <result property="favoriteSection" column="favorite_section"/>
  </resultMap>
  <update id="updateById" parameterType="life.gan.blogan.entity.User">
    UPDATE user
    <set >
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="email != null" >
        email = #{email},
      </if>
      <if test="bio != null" >
        bio = #{bio},
      </if>
      <if test="favoriteSection != null" >
        favorite_section = #{favoriteSection},
      </if>
    </set>
    WHERE id = #{id}
  </update>
</mapper>
